{% load static %}
<!-- about -->
 <div id="about">
    <div class="container text-center">
     <h1 class="cap">About Us</h1>
    <div class="row justify-content-center gy-5">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 order-0 order-md-3">
            <div class="about1 text-light"> 
               <p>Making a note of positive thoughts helps you to pay 
                  attention to the positive aspects of life – and,
                  the act of writing means that you have to pay 
                attentions to what you are writing and consciously
                 think about what you are grateful for without being
                  disturbed by other distracting, ungrateful thoughts.</p>
               <p> You may choose to write in the gratitude journal each day after 
                 your gratitude practice,
                  or, at other regular intervals. Do what works best for you, as
                this will maximize the benefits to be found! 
                Morning coffee gratitude</p>
               <p> If you think you won’t find the time, or that you will simply forget,
                  perhaps you can tie your gratitude practice with your first cup of coffee in
                the mornin life for granted.</p>
               <p> Let it go glass jar
                Acts of kindness glass jar</p>
            </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-12 col-xl-6 order-2 order-md-0">
          <div class="about2">
            <div class="aboutimg">
               <img src="{% static '' %}image/IMG-20220504-WA0001.jpg" style="height: 31.9vh;" alt="">
            </div>
        </div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-12 col-xl-6 order-1 order-md-1">
      <div class="about2">
        <div class="aboutimg">
           <img src="{% static '' %}image/20211223_101611.jpg" style="height: 31.9vh;" alt="">
        </div>
      </div> 
    </div>
    </div>
  </div>

  