<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center text-success gy-5">
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card w-75">
          <img src="/img/GOOD000.jpg" class="card-img-top pic w-75 h-50">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card w-75">
          <img src="/img/GOOD00000000000.jpg" class="card-img-top w-75 h-50 pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD0000000000.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD00000000.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD0000000.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD0000000.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD000000.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD0000.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD00000.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
     </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD000.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD00.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <div class="card">
          <img src="/img/GOOD0.jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 d-none -xs">
        <div class="card">
          <img src="/img/GOOD.....jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 col-xs-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 d-none -xs">
        <div class="card">
          <img src="img/GOOD..........jpg" class="card-img-top pic" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-truncate">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Go somewhere</a>
          </div>
        </div>
      </div>