{% extends 'base.html' %}
{% block title %} | {{profile.first_name|title}}'s Profile Update  {% endblock title %}

{% block header %} {% include 'header.html' %}  {% endblock header %}

{% block carousel %} {% include 'carousel.html' %} {% endblock carousel %}    


{% block content %}
<div class="container mb-5">
    <h1 class="cap">Profile Update</h1>
    <div class="row justify-content-center justify-content-md-around justify-content-lg-center text-center gy-5 text-warning pt-5 pb-5">
    <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-xl-4">
        <div class="card border-0">
        <img src="{{profile.pix.url}}" class="card-img-top rounded-circle mx-auto w-100 imge">
        <div class="card-body">
            <h5 class="card-title text-truncate">Name: LUCKY BOI</h5>
            <p class="card-text">Position: PROGRAMMER</p>
        </div>
        </div>
    </div>
    <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5 pt-5">
        <div class="profile-box px-lg-3 text-start">
            <form action="{% url 'profile_update' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
                <div class="form-group">
                    {{update.as_p}}
                </div>
                <button type="submit" class="btn btn-danger">Update Profile</button>
            </form>
        </div>
    </div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">
        <ul class="list-unstyled callback">
          <li class="mb-3"><a href="{% url 'index' %}" >home</a></li>
          <li class="mb-3"><a href="{% url 'products' %}" >products</a></li>
          <li class="mb-3"><a href="{% url 'profile' %}" >profile</a></li>
          <li class="mb-3"><a href="{% url 'password' %}" >Update Password</a></li>
          <li class="mb-3"><a href="#" >profile update</a></li>
          <!-- <li class="mb-3"><a href="#" >update password</a></li> -->
          <!-- <li class="mb-3"><a href="#" >transaction details</a></li> -->
        </ul>
    </div>
        </div>
    </div>
{% endblock content %}
    
{% block footer %} {% include 'footer.html' %} {% endblock footer %}
