{% extends 'base.html' %}
{% block title %} | SignUp Page  {% endblock title %}

<!-- header -->
{% block header %} {% include 'header.html' %} {% endblock header %}
<!-- header done -->


{% block content %} 
<div class="container mb-5">
  <h1 class="cap">SignUp</h1>
    <div class="row justify-content-center justify-content-md-around justify-content-lg-center text-center gy-5 text-warning pt-5 pb-5">
      <div class="col-10 col-sm-10 col-md-2 col-lg-3 col-xl-4 d-none d-lg-block">
        <div class="card border-0">
          <img src="/img/GOOD0000000000.jpg" class="card-img-top rounded-circle mx-auto w-70 imge">
        </div>
      </div>
      <div class="col-10 col-sm-10 col-md-8 col-lg-5 col-xl-5">
        <div class="profile-box px-lg-3 text-start">
          <form action="{% url 'signup' %}" method="POST"> 
          {% csrf_token %}
            <div class="mb-2">
             <div id="textHelp" class="form-text text-capitalize mb-3 form-text text-warning">
                to fast track your transaction, kindly signin or signup if you  have an existing account.</div>
                <label for="exampleInputText1" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputText1">
            </div>
            <div class="mb-2">
              <label for="exampleInputText1" class="form-label">First Name</label>
              <input type="text" name="first_name" class="form-control" id="exampleInputText1">
            </div>
            <div class="mb-2">
              <label for="exampleInputText1" class="form-label">Last Name</label>
              <input type="text" name="last_name" class="form-control" id="exampleInputText1">
            </div>
            <div class="mb-2">
              <label for="exampleInputText1" class="form-label">Email address</label>
              <input type="email" name="address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-2">
              <label for="exampleInputText1" class="form-label">State</label>
              <input type="text" name="state" class="form-control" id="exampleInputText1">
              <input type="hidden" name="pix" value="\media\profile\2F9184D3-0791-4EE5-9AA8-7F485EFA2B87.jpeg" class="form-control" id="exampleInputText1">
            </div>
            <div class="mb-2">
              <label for="exampleInputText1" class="form-label">Phone</label>
              <input type="text" name="phone" class="form-control" id="exampleInputText1">
            </div>
            <div class="mb-2">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password1" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-2">`
              <label for="exampleInputPassword1" class="form-label">Repeat Password</label>
              <input type="password" name="password2" class="form-control" id="exampleInputPassword1">
              <div id="textHelp" class="form-text text-capitalize mt-3 form-text text-warning">
                signup to create an account or signup if you already have any one
              </div>
            </div>
            <button type="submit" class="btn btn-danger w-50 mt-4">SignUp</button>
        </form>
        <a href="{% url 'signup' %}" type="submit" class="btn btn-danger mt-4">Sign-in</a>
        <div id="emailHelp" class="form-text">Password should be at least 8 characters long</div>
        <div id="emailHelp" class="form-text">Password should not be similar to your username or email.</div>
        <div id="emailHelp" class="form-text">Can be a combination of alphabets,numbers and special characters.</div>

        </div>
      </div>
      {% endblock content %}


      <!-- footer -->
      
      {% block footer %} {% include 'footer.html' %} {% endblock footer %}
      <!-- footer done -->
      