{% load static %}
<div id="team">
    <div class="container-fluid text-center text-warning">
      <h1 class="mb-5 mt-3 cap">OUR TEAM</h1>
      <div class="row justify-content-center gy-5">
        <!-- box -->
        <div class="col-10 col-sm-10 col-md-4 order-2">
          <div class="card border-0">
            <img src="{% static '' %}image/IMG_2984.jpeg" class="card-img-top w-20 rounded-pill" style="height: 29vh;">
            <div class="card-body">
              <h5 class="card-title text-truncate">Name: LUCKY BOI</h5>
              <p class="card-text">Position: PROGRAMMER</p>
            </div>
          </div>
        </div>
        <!-- box end -->
        <div class="col-10 col-sm-10 col-md-4 order-0">
          <div class="card border-0">
            <img src="{% static '' %}image/WhatsApp Image 2022-05-04 at 2.42.34 AM.jpeg" class="card-img-top w-20 rounded-pill" style="height: 29vh;">
            <div class="card-body">
              <h5 class="card-title text-truncate">Name: Prof. Wale Ogooluwa </h5>
              <p class="card-text">Position: SITE DEVELOPER</p>
            </div>
          </div>
        </div>
        <!-- box end -->
        <!-- box3 -->
        <div class="col-10 col-sm-10 col-md-4 order-2">
          <div class="card border-0">
            <img src="{% static '' %}image/IMG-20220504-WA0001.jpg" class="card-img-top w-20 rounded-pill" style="height: 29vh;">
            <div class="card-body">
              <h5 class="card-title text-truncate">Name: Senior Man</h5>
              <p class="card-text">Position: SITE DESIGNER</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
    </div>
        <!-- box end -->
      </div>
  </div>